/* lgoin page */

.body {
  background: #373944;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  /* background-color: #2c2f3c; */
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  display: flex;

  justify-content: center;
  border: 1px solid #7c89c5;
}

.username-input,
.continue-button {
  width: 200px;
  height: 30px;
  background: #474a57;
  border-radius: 5px;
}
.username-input {
  padding: 0 10px;
  outline: none;
  border: none;
  color: #7c89c5;
}

.continue-button {
  margin-top: 5px;
  border: none;
  color: #7c89c5;
}

button:hover {
  background: #5f647a;
}

/* lgoin page */
