* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background: #373944;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.route {
  display: flex;
  flex-direction: column;
  /* background-color: #2c2f3c; */
  padding: 10px;
  border-radius: 10px;
  height: 100px;
  display: flex;

  justify-content: center;
  border: 1px solid rgb(80, 161, 127);
}

.room-input,
.join-button {
  width: 200px;
  height: 30px;
  background: #474a57;
  border-radius: 5px;
}
.room-input {
  padding: 0 10px;
  outline: none;
  border: none;
  color: rgb(80, 161, 127);
}

.join-button {
  width: 100%;
  margin-top: 5px;
  border: none;
  color: rgb(80, 161, 127);
}

.join-button:hover {
  background: #5f647a;
}
