* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #646569;
}
body {
  height: 100vh;
  background: radial-gradient(circle at center, #252b44 0%, #636980 80%);
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: table;
  list-style: none;
  background: #7c89c5;
  padding: 10px;
  margin: 0px 20px;
  margin-bottom: 10px;
  max-width: 300px;
  border-radius: 10px;
}
span {
  margin: 0px 20px;
  color: #7c89c5;
}
.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 600px;
  background: #2c2f3c;
  border-radius: 20px;
}

.msg {
  flex: 5;
  width: 100%;
  /* background: lightgoldenrodyellow; */
  padding: 10px 20px;
  margin: 20px 0px;
  overflow-y: scroll;
}

.chat {
  /* background: lightgreen; */
  width: 100%;
  flex: 1;
}

.incoming-msg li {
  margin-right: auto;
}

.outgoing-msg li {
  margin-left: auto;
}

.row {
  display: flex;
  width: 70%;
  margin: 20px auto;
  /* background: lightgrey; */
}

.row button {
  border: none;
  background: none;
}

.row input {
  width: 80%;
  height: 40px;
  margin: 0px 20px;
  padding: 0px 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #3b3d46;
  color: rgb(172, 172, 172);
}

.row i {
  background: #3b3d46;
  padding: 0 10px;
  font-size: 20px;
  color: #7c89c5;
  line-height: 200%;
  border-radius: 5px;
}

.row i:active {
  background: #515255;
}

.user-join {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-join ul li {
  margin: 0;
  color: #7c89c5;
  background: transparent;
}

@media (max-height: 600px) {
  .container {
    height: 80%;
  }
}

@media (max-width: 920px) {
  .container {
    width: 500px;
  }
  .row {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .container {
    width: 340px;
  }
  li {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 350px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  li {
    max-width: 200px;
  }
}
