<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/81d58fde1c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../stylesheet/styles.css" />
    <link rel="stylesheet" href="../stylesheet/loginstyle.css" />
    <script src="/socket.io/socket.io.js"></script>

    <script defer src="../script/script.js"></script>
  </head>
  <body>
    <!-- loginpage -->
    <div class="body">
      <div class="login">
        <input class="username-input" type="text" placeholder="username" />
        <button class="continue-button">continue</button>
      </div>
    </div>
    <div class="container">
      <section class="msg">
        <div class="user-join starter-msg">
          <ul>
            <li>Send your fist message !</li>
          </ul>
        </div>
        <!-- for testing purpose -->
        <!-- <div class="incoming-msg">
          <ul class="incoming-ul">
            <div class="person-msg">
              <span class="name">Dimitri marco</span>
              <li>hey</li>
            </div>
            <div class="person-msg">
              <span class="name">Marcus</span>
              <li>how are you</li>
            </div>
            <div class="person-msg">
              <span class="name">Leonardo</span>
              <li>
                some long text that contains multiple lines to test the
                compatability of our code
              </li>
            </div>
          </ul>
        </div>
        <div class="outgoing-msg">
          <ul class="outgoing-ul">
            <li>i am outgoing</li>
            <li>
              some long text that contains multiple lines to test the
              compatability of our code
            </li>
            <li>
              some long text that contains multiple lines to test the
              compatability of our code
            </li>
            <li>
              some long text that contains multiple lines to test the
              compatability of our code
            </li>
          </ul>
        </div> -->
        <!-- <div class="user-join">
          <ul>
            <li>Dimitri Marco joined</li>
          </ul>
        </div> -->
        <!-- end of testing purpose -->
      </section>
      <section class="chat">
        <div class="row">
          <input
            type="text"
            placeholder="Type something..."
            class="input-cls"
          />
          <form action="/" method="POST">
            <button class="primary-send-button">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
