<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/routestyle.css" />
  </head>
  <body>
    <div class="body">
      <form action="/" method="GET">
        <div class="route">
          <input
            name="link"
            class="room-input"
            type="text"
            placeholder="link"
          />
          <button class="join-button">Join</button>
        </div>
      </form>
    </div>
  </body>
</html>
